<div class="jumbotron">
  <div class="container">
    <h1>Hash</h1>
    <p class="lead">Web Development Tools</p>
    <div class="visible-phone">
      <p><a href="https://github.com/volcra/hash/zipball/master" class="btn btn-primary">Download</a> <a href="https://github.com/volcra/hash" class="btn">GitHub Project</a></p>
    </div>
    <div class="hidden-phone">
      <p>
        <a href="https://github.com/volcra/hash/zipball/master" class="btn btn-large btn-primary">Download</a>
        <a href="https://github.com/volcra/hash" class="btn btn-large">GitHub Project</a>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="hero-unit">
        <h1>Comming soon</h1>
      </div>
    </div>
  </div>
</div>
